
  <div class="jumbotron">
    <div class="container col-md-9">
      <h1>Welcome to Issue Tracker!</h1>
      <br>
      <br>
      <br>
      <p>Authenticate via Twitter to get started. </p>

    </div>
    <div class="logo-jumbotron">
      <img src="assets/logo.png">
    </div>
  </div>

